@use 'base' as *;

* {
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none; /* 移除項目符號 */
}

#app {
  height: 100vh;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 97px auto;
  grid-template-areas:
    'aside header'
    'aside main';
  align-items: stretch;
}
